.main-container {
  height: 450;
  width: 275;
  
  
}
.initial-label {
  font-size: 32;
  letter-spacing: 0.35;
}
.main-label {
  font-size: 28;
  margin-top: 32;
  margin-bottom: 32;
  letter-spacing: 0.3;
}
TextField {
  margin-bottom: 10;
}
.submit-button {
  margin-top: 15;
}
.sign-up-stack Label {
  padding-top: 5;
  height: 200;
  text-transform: uppercase;
}

.input-border
{
   
    background-color: white;
    border-color: black;
    border-width: 1;
}
.forgot-password-label {
  font-size: 13;
  text-transform: uppercase;
}
.logo-container Image {
  top: 90;
}
.login-button{
    width: 250;
    text-align:center;
    border-radius: 10;
    border-color: black;
    border-width: 1;
    color: black;
    background-color: #e0e0e0;
}
.top-layout
{
    padding-top: 20;
}

.screen_layout
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("res://background1");
}